
a.btn {
  &.dibs{
    @include bgSvg(icoHert('999', $s_white), no-repeat, 50% 50%, 20px auto);
    @include setCont(52px, 52px);
    @include blind;
    min-width: 0;
    padding: 10px 5px;
    border-radius: 8px;
    border: 1px solid #D0D0D0;
  }
}

.btns{
  display: flex;
  align-items: center;
  .btn {
    @include font(20,20);
    &.b_cart{
      @include setCont(45px, 45px);
      @include blind;
      min-width: 0;
      padding: 10px 5px;
      border-radius: 8px;
    }
    &.b_cart{
      width: 87px;
      border: none; 
      border-radius: 30px;
      @include bgSvg(icoCart($s_white), no-repeat, 50% 50%, 26px auto, #ccc);
    }
    &.l_black {
      margin-right: 10px;
      border-radius: 26px;
      height: 45px;
      padding: 12px 10px 11px;
    }
  }
}
  
.portfolio{
  .location{
    padding: 72px 0 54px;
    margin: 0 auto;
    width: 1280px;
    height: 100%;
    text-align: left;
    a {
      color: $black;
      opacity: 0.26;
      vertical-align: middle;
      &+a{
        &:before{
          @include setCont(7px, 7px, inline-block);
          border-radius: 5px;
          background-color: $black;
          margin: 0 8px;
          vertical-align: middle;
        }
      }
      &:first-child{
        @include setCont(19px, 18px);
        @include bgSvg(icoHome("$black"), no-repeat, 50% 50%, 100%);
        @include blind;
        opacity: 1;
      }
      &:last-child{
        opacity: 1;
      }
      b{
        vertical-align: middle;
      }
    }
  }
  .container{
    min-height: calc(100vh - 187px);
    padding: 0 0 80px;
    .inner{
      max-width: 1280px;
      min-height: 100%;
      margin: 0 auto;
      .title {
        @include font(30, 30,#3D3939);
        position: relative;
        min-width: 133px;
        height: 50px;
        vertical-align: middle;
        letter-spacing: 0;
        width: auto;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        padding: 0;
        border: none;
        &:after{
          @include setCont(35px, 35px, block, relative);
          @include bgSvg(icoArr("09162F"), no-repeat, 50% 50%, 17px auto);
          margin-left: 10px;
          box-sizing: border-box;
          border: 2px solid #09162F;
          border-radius: 25px;
          top: unset;
          right: unset;
          transform:unset;
        }
      }
      .area_search{
        @include setCont(100%, auto, block);
        .cont{
          border: 1px solid #E0E0E0;
          border-bottom: none;
          border-radius: 20px 20px 0 0;
          box-shadow: 0px 3px 10px #4588F826;
        }
        .area_check{
          @include setCont(100%, auto, flex);
          align-items: center;
          padding: 20px 20px;
          &+.area_check {
            border-top: 1px solid #E0E0E0;
          }
          &:first-child {
            align-items: flex-start;
            padding: 12px 20px;
            h4 {
              margin-top: 8px;
            }
            .checks {
              .bx_chk {
                margin: 8px 15px;
              }
            }
          }
          h4{
            flex-shrink: 0;
            width: 90px;
            @include font(17,20,$black,$bold);
          }
          .checks{
            display: flex;
            flex-wrap: wrap;
            flex-grow: 1;
            .bx_chk{
              margin: 0 15px;
              label {
                @include font(17,20);
                padding-left: 34px;
                display: flex;
                &:before {
                  width: 22px;
                  height: 22px;
                  border-radius: 0;
                }
              }
            }
          }
        }
        .btns{
          @include setCont(100%, 55px, flex);
          border: 1px solid #E0E0E0;
          border-radius: 0 0 20px 20px;
          padding: 0 20px;
          justify-content: space-between;
          align-items: center;
          background-color: #F8FAFF;
          .reset {
            display: flex;
            p {
              @include font(17,20);
              margin-right: 5px;
            }
            .b_reset {
              background-size: 15px auto;
            };
          }
          .btn{
            min-width: 90px;
            @include font(17, 17);
            height: 40px;
          }
        }
      }
    }
  }
  .taps_txt{
    margin: 70px 0 30px;
    .tap{
      position: relative;
      @include font(30, 30, #C1C5CB, $bold);
      &:before{
        @include setCont(0, 4px, inline-block, absolute, $blue);
        bottom: -9px;
        left: 50%;
        transform: translateX(-50%);
      }
      &.on{
        color:$blue;
        &:before{
          width: 100%;
        }
      }
      &+.tap{
        margin-left: 48px;
      }
    }
  }
  .c_top{
    @include setCont(100%, auto, flex);
    justify-content: space-between;
    align-items: center;
    .right{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .bx_search{
        min-width: 404px;
        margin-left: 12px;
        .ipt {
          height: 52px;
        }
        .b_search {
          background-size: 18px auto;
          margin-right: 15px;
        }
      }
    }
  }
  .list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: calc(100% + 46px);
    margin-left: -18px;
    padding-top: 5px;
    justify-content: flex-start;
    dl{
      @include setCont(100%, auto, flex);
      @include font(15, 22);
      align-items: center;
      align-content: center;
      dt{
        flex-shrink: 0;
      }
      dd{
        @include ellipsis;
        flex-grow: 1;
        &:before{
          content: ":";
          margin: -5px 4px 0;
          vertical-align: middle;
          display: inline-block;
        }
      }
    }
    .item{
      @include setCont(404px, auto, block, relative, $white);
      margin: 25px 18px;
    }
    .img{
      @include setCont(100%, 260px, block, relative,#efefef);
      @include bg("/common/test.svg", no-repeat, 50% 50%, 100% auto);
      border-radius:31px;
      box-shadow: 0px 3px 10px rgba(0,0,0,0.30);
      transition: all 200ms;
      .label {
        @include setCont(null, null, inline-block, absolute, $blue);
        @include font(14,14,$white,$bold);
        @include font(15,15);
        padding: 9px 10px 8px;
        border-radius: 3px;
        transition: all 200ms;
        z-index: 1;
        top: 20px;
        right: 20px;
      }
      .detail{
        @include setCont(100%, 100%, flex, absolute,rgba(0,0,0,0.30));
        justify-content: center;
        align-items: center;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        border-radius: 31px;
        overflow: hidden;
        opacity: 0;
        z-index: 5;
        transition: all 300ms ease;
      }
      &:hover{
        background-size: 125% auto;
        .detail{
          opacity: 1;
          .btn {
            opacity: 0.75;
          }
        }
      }
      .btn{
        @include font(15,15);
        position: relative;
        padding: 21px 1px 20px;
        z-index: 5;
        min-width: 248px;
        height: 58px;
        border-radius: 31px;
      }
    }
    .info{
      padding: 19px 0 10px;
      position: relative;
      .desc{
        @include ellipsis("multi", 3);
        @include font(15,19,#5D5D5D);
        margin: 10px 0;
      }
      .dibs {
        @include bgSvg(icoHert('000', $s_white), no-repeat, 50% 50%, 17px auto);
        @include setCont(17px, 22px);
        @include font(17,20);
        overflow: visible;
        text-indent: 25px;
        position: absolute;
        left: 330px;
        bottom: 11px;
      }
    }
    .btn_myList{
      position: absolute;
      left:317px;
      bottom: 11px;
    }
    .btns{
      .btn{
        position: relative;
        z-index: 5;
        &.l_black{
          flex-grow: 1;
          min-width: 148px;
        }
      }
    }
    &.ano {
      .item {
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 31px;
        padding: 25px;
        .thume {
          display: none;
        }
        .l_black {
          flex-grow: 0;
        }
      }
    }
  }
}

.pagination {
  margin-top: 25px;
  .b_prev, .b_next {
    @include font(22,45);
    // line-height: 2;
    width: 84px;
    height: 46px;
    text-align: center;
    color: $white;
    &:before {
      display: none;
    }
  }
  .b_prev {
    background-color: #D7E1E2;
  }
  .b_next {
    background-color: $blue;
  }
  .num {
    @include font(22,45);
    width: 34px;
    height: 46px;
    border: 1px solid #09162F;
    vertical-align: middle;
    padding: 0;
    margin: 0 15px;
  }
}